@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,800|Nunito+Sans:400,600,700&display=swap");

/* Start Variables */
:root {
    --font-familly-muli: "Muli", sans-serif;
    --font-familly-nunito-sans: "Nunito Sans", sans-serif;
    --default-color: #130f40;
    --main-color: #ff4e56;
    --second-color: #2e1278;
    --three-color: #2c3e50;
    --four-color: #f39c12;
    --five-color: #fff;
    --sex-color: #3b04db;
    --eight-color:#444;
    --seven-color: #f6f6f6;
    --section-padding-100: 100px;
    --section-padding-50: 50px;
    --section-padding-200: 200px;
}

/* End Variables */


/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: var(--font-familly-muli);
    font-weight: 400;
    color: var(--default-color);
    font-size: 14px;
    line-height: 1.42857143;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.4;
}

h2 {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 800;
}

span {
    color: var(--sex-color);
    font-size: 18px;
    font-weight: 400;
}

p {
   
    font-size: 16px;
    line-height: 26px;
    color: var(--three-color);


}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start  header */
header {
    position: fixed;
    z-index: 1;
    width: 100vw;
   
}

header .container {
   padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .container .logo-img {
    flex-basis: 10vw;
    padding-left: 40px;
}

header .container nav {
    flex-basis: 50vw;
    padding-left: 60px;
}


header .container ul li {
    display: inline-block;
    margin: auto 18px;

}

header .container ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;

}

header .container nav ul li a:hover {
    color: var(--main-color);
}

header .container nav ul li:nth-child(1) a {
    color: var(--main-color);
}

header.sticky,
header.sticky nav ul li a {
    background-color: var(--five-color);
    color: var(--default-color);
    font-weight: 700;
}

header.sticky,
header.sticky nav ul li:nth-child(1) a {
    background-color: var(--five-color);
    color: var(--sex-color);
    font-weight: 700;
}

/* end header */



/* start hero */
.hero {
    height: 150vh;
    background-image: url('../images/banner-1.png');
    background-size: cover;
}


.hero .container {
    display: flex;
    justify-content: space-between;
}


.hero .container .hero-img {
    flex-basis: 40vw;
}

.hero .container .hero-content {
    flex-basis: 60vw;
}

.hero .container .hero-img,
.hero .container .hero-content {
    margin-top: 80px;

}

.hero .container .hero-img img {
    margin-top: 120px;
}


.hero .container .hero-content p {
    color: var( --five-color);
    font-size: 16px;
    line-height: 1.8;
}

.hero .container .hero-content button {
    padding: 16px 30px;
    margin: 10px 6px;
    border-radius: 50px;
    background-color: transparent;
    color: var(--five-color);
    border: 1px solid var(--five-color);
    text-transform: capitalize;
}

.hero .container .hero-content button:hover {
    background-color: var(--five-color);
    color: var(--sex-color);
}

/* end hero */




/* start about */
.about {
    padding-top: var(--section-padding-100);
    padding-bottom: var(--section-padding-100);
}

.about .container {
    display: flex;
    justify-content: space-between;
}


.about .container article {
    flex-basis: 40vw;
}

.about .container .about-img {
    flex-basis: 40vw;
}

.about .container .about-img img {
    width: 100%;
}




.about .container article ul {

    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;


}


.about .container article ul li {
    display: block;
    padding: 6px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.about .container article ul li i {
    margin-right: 10px;
    color: green;
}

.about .container article button {
    background-color: var(--sex-color);
    border: 1px solid var(--sex-color);
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
}



/* end about */

/* start heading */
.heading {
    padding-top: var(--section-padding-100);
    padding-bottom: var(--section-padding-50);
    background-color: var(--seven-color);
}

.heading .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60vw;
}



/* end heading */

/* start features **/
.features {
    padding-bottom: var(--section-padding-100);
    background-color: var(--seven-color);

}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;

}

.features .container article {
    text-align: center;
    background-color: white;
    padding: 20px;

}


.features .container article i {
    color: #3b04db;
    font-size: 40px;

}

.features .container article h3 {
    font-size: 24px;
    font-weight: 700;
}


/* end features*/

/* start vedio */
.vedio {
    padding-top: var(--section-padding-100);
    padding-bottom: var(--section-padding-100);
}

.vedio .container-fluid {
    display: flex;
    justify-content: space-between;
}

.vedio .container-fluid .vedio-img {
    flex-basis: 50vw;
}

.vedio .container-fluid article {
    flex-basis: 42vw;
   
    margin-right:40px;
}







.vedio .container-fluid article button {
    background-color: var(--sex-color);
    border: 1px solid var(--sex-color);
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 50px;
}

.vedio .container-fluid .vedio-img img {
    width: 100%;
}

/* end vedio */

/* start why-chose*/
.why-chose {
    padding-bottom: var(--section-padding-100);
    background-color: var(--seven-color);
}

.why-chose .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 40px;

}

.why-chose .container .why-chose-img img {
    width: 100%;
}

.why-chose .container ul {
    list-style: none;
    margin: 60px;
    position: relative;


}

.why-chose .container ul li {
    display: block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.why-chose .container ul li i {

    color: white;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 18px;
    position: absolute;
    left: -30px;
}


/* end why-chose*/

/* .sepcial-heading */
.sepcial-heading{
  background-color: #fff;
}
/* /.sepcial-heading */



/* start products */
.products {
    padding-bottom: var(--section-padding-200);
}

.products .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;

}

.products .container article img {
    width: 90%;
}

.products .container article {
    position: relative;

}

.products .container article:nth-child(4),
.products .container article:nth-child(5),
.products .container article:nth-child(6) {
    margin-top: 60px;

}

.products .container article .info-product {
    width: 240px;
    height: 140px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;

}

.products .container article .info-product h3 {
    font-weight: 700;
    font-size: 25px;
    color: var(--sex-color);
    margin: 10px 10px;
}

.products .container article .info-product p {

    font-size: 16px;
    color: var(--main-color);
    margin: 10px 10px;
    font-weight: 800;
}

.products .container article .info-product a {
    color: var(--eight-color);
    font-weight: 500;

}

.products .container article .info-product a i {
    font-size: 8px;

}



/* end  products */


/* subscribe */
.subscribe {
    padding-bottom: var(--section-padding-100);
    background-image: url('../images/banner-2.jpg');
    height: 80vh;
    position: relative;

}

.subscribe .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


}

.subscribe .container-fluid span {
    color: white;
    font-size: 18px;
    font-weight: 400;

}

.subscribe .container-fluid h2 {
    color: white;
}

.subscribe .container-fluid p {
    color: white;
    margin: 20px;
}



.subscribe .container-fluid input {

    width: 600px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    border: 0;

}

.subscribe .container-fluid input:focus{
  border:0;
}

.subscribe .container-fluid button {

    position: absolute;
    right: 45px;
    bottom: 5px;

    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 15px 25px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    padding: 16px 40px;
}

/* subscribe */

/* faq */
.faq {
    padding-bottom: 100px;
    padding-top: 50px;
}

.faq .container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 100px;

}

.faq .container .faq-content {
    margin-top: 40px;
}

.faq .container .faq-content details {
    margin-bottom: 40px;
}

.faq .container .faq-content details summary {
    font-size: 17px;
    line-height: 27px;
    color: var(--three-color);
    font-weight: 800;
}



.faq .container .faq-content details summary::marker {

    color: var(--main-color);
    margin-right: 20px;
}

.faq .container .faq-img img {
    width: 90%;
}

/* faq */


/* feedback */
.feedback {
    padding-bottom: var(--section-padding-100);
    padding-top: 50px;
    background-image: url('../images/testi-bg.png');
    background-size: contain;
    height: 80vw;
    position: relative;
}

.feedback .heading {
    background-color: transparent;
}

.feedback article {

    width: 50vw;
    height: 35vw;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

.feedback article img {
    width: 20%;
    border-radius: 50%;
    padding: 20px;
}

.feedback article blockquote {
    font-size: 18px;
    line-height: 1.8;
    font-style: italic;
    font-weight: 600;
}

.feedback article h2 {
    font-weight: 800;
    color: var(--main-color);
    font-size: 20px;
}

.feedback article p {
    color: var(--eight-color);
    text-transform: capitalize;
}

.feedback article .start i {
    color: var(--four-color);
}

/* feedback */

/* start contact */
.contact {
    padding-bottom: 100px;
    padding-top: 50px;
}

.contact .container {

    display: flex;
    justify-content: space-between;
}

.contact .container .infos {
    flex-basis: 45%;

}





.contact .container .infos h5 {

    font-size: 18px;
    font-weight: 800;
    margin: 5px auto;
}

.contact .container .infos p {

    margin: 10px;

}

.contact .container .infos h2+p {
    font-family: var(--font-familly-nunito-sans);
    font-size: 16px;
    line-height: 26px;
    color: var(-eight-color);
    margin: 20px auto;
}

.contact .container .infos h5 {
    margin-top: 25px;

}




.contact .container form {
    flex-basis: 50%;
    padding: 30px;
    background-color: var(--five-color);

}

.contact .container form h2 {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.contact .container .form-group {
    margin: 40px auto;
}

.contact .container .form-group label {
    display: block;
    font-weight: 800;

}

.contact .container .form-group input {

    height: 40px;
    width: 100%;
    margin: 10px auto;

    border: 0;
    padding: 20px 10px;
}


.contact .container .form-group textarea {

    width: 100%;
    margin: 10px auto;

    padding: 20px;
    border: 0;
}

.contact .container button {
    background-color: var(--sex-color);
    border: 1px solid var(--sex-color);
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    padding: 16px 40px;
    margin: auto;
}


/* end contact */

/* footer */
footer {
    padding-top: var(--section-padding-50);
    background-color: var(--second-color);
    background-image: url('../images/map-bg.png');
    background-size: cover;
    height: 60vh;
    color: white;
}


footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container img {
    margin-top: 40px;

}

footer .container h4 {
    font-weight: 600;
    font-size: 25px;
    margin: 10px auto 10px;
}

footer .container p {
    color: white;
}

footer .container .social-icons i {
    background-color: var(--main-color);
    width: 45px;
    height: 45px;
    padding: 17px;
    border-radius: 5px;
    font-size: 15px;

}

footer .container .social-icons {
    margin: 10px;
}

/* footer */